*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-around;
    border: solid black;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}

h1 {
    background: rgb(75,83,125);
    background: radial-gradient(circle, rgba(75,83,125,1) 0%, rgba(100,89,223,1) 46%, rgba(252,70,107,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items:center;  
}

.nav-bar a {
    padding-left: 50px;
    text-decoration: none;
    color: Black;}

.icono-placeholder {
    padding: 0.25rem 0.6rem;
    border-radius: 0.3rem;
    border: 1px solid #FFFFFF;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);

}
.icono-placeholder::placeholder{
    background-image: url(./foto.jpg);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: left center;

}


